.page-name {
  margin: 15px 0px 15px 0px;
  text-align: center;
  font-weight: bold;
  a {
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
}

.section {
  border: 3px solid #000000;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
}

#main-content {
  min-height: 800px;
  margin: 0;
  padding: 10px 0 0 0;
}

.single-post-card {
  min-height: 135px;
  max-height: 135px;
  color: black;
  border-radius: 25px;
  padding: 10px;
  text-align: left;
  transition: all 0.3s ease-in-out;
  .post-text {
    overflow: hidden;
  }
  &:hover {
    cursor: pointer;
    // shadow
    box-shadow: 0 0 11px rgba(33,33,33,.2);
  }
}

.post-content {
  display: none;
}

.solid-color-mode, .border-color-mode {
  .post-text {
    text-align: center;
  }
}

.solid-color-mode {
  .post-text {
    padding: 10px;
    background-color: white;
    border-radius: 25px;
  }
}

.border-color-mode {
  background-color: white;
}
